.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  